<!DOCTYPE html>
<html>
  <head>
    <title>Manualdevise</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
  </head>

  <body>
  <% if session[:user].nil? %>
    <%= link_to "SignUp", :controller=> :accounts, :action=> :signup %>
    <%= link_to "Login", :controller=> :accounts, :action=> :login %>
  <%else%>
    <%= link_to "Logout", :controller=> :accounts, :action=> :logout %>
  <%end%>
    <%= yield %>
  </body>
</html>
